{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "printWidth": 80
}